# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Node
node_modules
.next
.env
.env*.local
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Project specific
README.md
